* {
    margin: 3px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.myHeader {
    color: white;
    /* flex-grow: 1; */
    display: flex;
    justify-content: space-between;
    padding: 0 7% 0 7%;
}

.myLogo {
    background-color: white;
    /* flex-grow: 1; */
    padding: 0 7% 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myCategory {
    /* flex-grow: 1; */
    padding: 0 7% 0 7%;
    display: flex;
    justify-content: center;
}

.myUpperSection {
    background-image: url('./nature.avif');
    background-position: center;
    background-attachment:scroll;
    background-size:cover;
    /* flex-grow: 10; */
    padding: 0 7% 0 7%;
    height: 30vw;
}

.myLowerSection {
    /* flex-grow: 10; */
    display: flex;
    flex-direction: row;
    padding: 0 7% 0 7%;
    justify-content: center;
    flex-wrap: wrap;
}

.all_lowerSection {
    flex: auto;
}




.myFooter {
    background-color: grey;
    /* flex-grow: 1; */
    padding: 0 7% 0 7%;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    padding-right: 5px;
    padding-left: 5px;
}


.searchForm {
    width: 300px;
    padding-top: 10px;
}

.logoText {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:xx-large;
}

.myCard {
    width: 18rem;
}

.footerLogo {
    font-size: 2rem;
}

hr {
    color: white
}

.myArticle {
    width: 40vw;
    font-size: 1.65vw;
    color:#f5f5f5;
    text-align: justify;
    font-weight:500;
}


@media all and (max-width: 600px) {
    .myHeader {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .searchForm {
        width: 150px;
    }

    .logoText {
        font-size: large;
    }
}